.wrapper{
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 silver;
}

/* header */
.header{
    background-color:#232f3e ;
    border-radius: 5px 5px 0 0 ;
    color: #bcbdc7;
  
}
.header a{
    color: #bcbdc7;
    transition: all 0.3s linear;
}
.topinfo {
    justify-content: space-between;
    border-bottom: 1px solid #303e4f;
}
.acountlistlink{
    padding: 5px 10px;
    display: block;
}
.acountlistlink>i{
    padding-left: 4px;
}
.acountlistlink:hover{
    color: #fff;
}
.language{
    padding: 5px 0 0 10px;
}
.fa-icon{
    width: 20px;
    vertical-align: middle;
}

.headerinfo{
    padding: 20px;
    border-bottom: 1px solid #303e4f;
}
.categorylist{
    margin-left: -20px;
}
.searchbox{
    flex-grow: 1;
    height: 40px;
    justify-content: center;
}
.categorylist{
border-radius: 0px 20px 20px 0;
padding: 8px 15px;
border: none;
}
.searchinput{
    padding: 8px 15px; 
    border: none;
}
.btnsearch{
    padding: 10px 15px; 
    color: #fff !important;
    background-color: #f4a137;
    border-radius: 20px 0px 0px 20px;
}
.contact{
    color: #fff;
    margin:0 0.8em;
    font-size: 0.9em;
}
.contacti{
    margin-top: 5px;
}
.contacticon{
    font-size: 2em;
    padding: 0 0.4em;
}
.carticon{
    background-color: #f4a137;
    padding: 5px;
}
.topnavlink{
    display: block;
    padding: 10px 12px;
    font-size: 0.9em;
    position: relative;
}
.topnavlink:hover{
    color: #fff;
}
.topnav{
    position: relative;
}

.topnavitem:hover>.submenu{
    display: block;
}
.submenu{
display: none;
background-color: rgb(138, 231, 241);
height: 200px;
width: 100%;
position: absolute;
top:100%;
right: 0;
}
.submenucontaner{
    position: relative;
    width: 100%;
    height: 100%;
}
.submenuimage{
    position: absolute;
    height: 200px;
    bottom: 0;
    left: 0;
}
.submenulist{
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    height: 100%;
}
.submenulistitem{
    width: 25%;
}
.hotcategury::before{
    content: ' ';
    position: absolute; 
    background-image: url(../image/icon/hot-icon.png);
    width: 35px;
    height: 22px;
    top:-9px;
    right: 20%;
}
/* main */
.main{
background-color: #fff;
}
.slider{
    height: 422px;
    padding: 10px;
}
.r-ads{
    width: 25%;
    margin-left: 10px;
}
.l-ads{
   flex-grow: 1;
}
.r-ads img
,.l-ads img{
    height: 100%;
    width: 100%;
}
.topprodouct{
    background-color: rgb(220, 215, 215);
}
.topprodouctitem{
    flex-grow: 1;
    padding: 10px;
}
.topprodouctimge img{
    border-radius: 50%;
    padding-left: 10px;
}
.topprodouctinfo{
    align-self: center;
}
.ts-detail{
    border:1px solid #ddd;
    flex-grow: 2;
    margin: 10px;
    width: 40%;
}
.ts-list{
    flex-grow: 3;
    width: 60%;
}
.productlist{
flex-wrap: wrap;
}
.productitem{
    width: 33%;
    flex-grow: 1;
    
}
.productitemdetail{
    border:1px solid #ddd ;
    margin: 10px;
    padding: 10px;
}
.productimag{
    width: 100%;
}
.producttitle{
    color: #000;
    display: block;
}
.producttitle:hover{
    color:#f4a137;
}
.productprice{
    color: red;
}
.productaction{
    margin: 10px 0;
}
.productimageoverly{
    position: relative;
    overflow: hidden;
}
.overlyimage{
    top:100%;
    width: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.2s linear;
}
.productimageoverly:hover .overlyimage{
    opacity: 1;
    top:0;
}
.productimageoverly:hover .btndefult{
    opacity: 1;
    top:50%;
}
.productimageoverly .btndefult{
    top:-100%;
    width: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.2s linear;
}
.pd_thumbnailimage {
    margin-top: 20px;
}

.pd_thmbnailitem {
    border: 1px solid #ddd;
    padding: 2px;
    margin: 2px;
}
.banner{
  padding: 10px;
}
.banner img{
    width: 100%;
    display: block;
}
.newproductitem{
    width: 25%;
}
.newproduct h4{
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
}
